.listItem {
    display: flex;
    align-items:center;
    padding: 10px 20px;
    border: 1px solid var(--li-border);
    border-radius: 8px
}

.checkbox {
    transform:scale(1.3);
    margin-right: 5px;
}

.listItem input {
    font-size: 20px;
    padding: 3px 5px;
    border-radius: 8px;
}

.listItem input:hover {
    text-decoration: underline;
    cursor: pointer;
}

.listItem input:disabled{
    background-color:var(--li-background);
    border: none;
}

.checked {
    text-decoration: line-through;
}

.listItem button {
    padding: 5px;
    margin-left: 5px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    background-color:var(--li-background)
}

.edit:hover{
    background-color:#7dedba;
}

.delete:hover{
    background-color:#ed7d8a;
}

@media all and (max-width:480px) {
    .listItem {
        margin: 10px 0;
    }
    .listItem button {
        width: 25px;
        height: 25px;
    }
    .listItem input {
        font-size: 16px;
    }
}