.buttonGroup {
    margin-right: 15px;
}

.buttonGroup button {
    border: 2px solid #1a2e35;
    font-size: 20px;
    padding: 5px 8px 1px;
}

.buttonGroup button:focus, .buttonGroup button:active {
    outline: 3px solid #0e0670;
}

.leftBtn {
    border-radius: 8px 0px 0px 8px;
}

.rightBtn{
    border-radius: 0px 8px 8px 0px;
}