.button {
    border: 1px solid #000000;
    width: 50px;
    padding: 5px 0;
    background-color: var(--filter-background);
    font-size: 16px;
}

.active {
    background-color: #d6e6ff;
}

.button:nth-child(1) {
    border-radius: 8px 0px 0px 8px;
}

.button:nth-child(2) {
    border-radius: 0;
}

.button:nth-child(3){
    border-radius: 0px 8px 8px 0px;
}

@media all and (max-width:480px) {
    .filter button {
        width: 80px;
    }
}
