.filter button {
    border: 1px solid #000000;
    width: 60px;
    padding: 5px 0;
}

.leftBtn {
    border-radius: 8px 0px 0px 8px;
}

.middleBtn {
    border-radius: 0;
}

.rightBtn{
    border-radius: 0px 8px 8px 0px;
}
