.headerWrapper {
    height: 8%;
    background-color: #d6e6ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoBtn {
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 15px;
}

.logoBtn:hover {
    background-color:#aacbff;
}