.searchWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchWrapper input{
    width: 345px;
    height: 40px;
    font-size: 18px;
    padding: 20px 15px;
    border-radius: 8px;
    margin-top: 25px;
}

@media all and (max-width:768px){
    .searchWrapper input{
        width: 250px;
        height: 20px;
        font-size: 16px;
        padding: 15px 10px;
        border-radius: 8px;
        margin-top: 10px;
    }
}