.headerWrapper {
    height: 10%;
    background-color: #d6e6ff;
    display: flex;
    align-items: center;
}

.headerWrapper button {
    font-size: 34px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 15px;
}

.headerWrapper button:hover {
    background-color:#aacbff;
}