@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@500;700&family=Libre+Baskerville&display=swap');

*{
  font-family: "Bebas Neue", sans-serif;
  color: #1a2e35;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--background-color);
  transition: background-color 200ms linear;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content:space-between; */
}

body[data-theme='light']{
  --background-color: #ffffff;
  --h2-color:#023774;
  --li-background: #ffffff;
  --li-border: #023774;
}

body[data-theme='dark']{
  --background-color: #2d3558;
  --h2-color:#e7e7e7;
  --li-background: #e7e7e7;
  --li-border: #ffffff;
}

main {
  flex: 1;
}