@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Spartan:wght@500;700&family=Libre+Baskerville&display=swap');

*{
  font-family: "Bebas Neue", sans-serif;
  color: #1a2e35;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

body[data-theme='light']{
  background-color: #ffffff;
  --h2-color:#023774;
  --li-color: #023774;
  --li-btn-background: #ffffff;
}

body[data-theme='dark']{
  background-color: #2d3558;
  --h2-color:#d6e6ff;
  --li-color: #d6e6ff;
  --li-btn-background: #e7e7e7;
}